.box2 img {
  width: 60%;
}

.box1 {
  height: 70vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
