body {
  font-family: sans-serif;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  //width와 height가 100이라서 모달창 밖의 어두운 부분을 클릭을 해도 클릭에 반응하지 않는다.
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: white;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  //modal-close를 모달 창 안에 들어오게 하려면 position absolute되어 있는 modal-close 상위에 position:relative를 준다.
}

.subscribe {
  margin: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
